@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    font-family: 'General Sans', sans-serif;
    min-height: 400vh;
}

@theme {
    --font-bungee: 'Bungee', sans-serif;
    --color-san-juan: #3d5a80;
    --color-cornflower: #98c1d9;
    --color-tranquil: #e0fbfc;
    --color-burnt-sienna: #ee6c4d;
    --color-tuna: #293241;
}

@layer utilities {
    .nav-hover-btn {
        @apply relative font-bungee text-xs uppercase text-blue-50 after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;  
    }
}
